/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.viewport-horizontal{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 87.5%;
}
.viewport-vertical{
    position: absolute;
    top: 0%;
    left: 15%;
    width: 85%;
    height: 97.5%;
}