#footer{
    position: absolute;
    bottom: 0%;
    height: 2.5%;
    width: 100%;
    display: flex;
}
.footer-vertical, 
.footer-horizontal
{
    flex-direction: row;
    justify-content: center;
}
.footer-vertical-alt{
    flex-direction: row;
}
.footer-horizontal-alt{
    flex-direction: row-reverse;
}
#copyright-icon{
    transform: scale(0.5);
    bottom: 15%;
    position: relative;
}
#copyright-link{
    bottom:10%;
    position: relative;
}