<div 
    id="banner"
    class="mat-elevation-z3"
    role="banner"
    [ngClass]="{'banner-horizontal': _conf.horizontal(), 
                'banner-vertical': _conf.vertical() }"
>
    <object 
        *ngIf="logoConf"
        [id]="logoConf.id"
        type="image/svg+xml" 
        [data]="logoConf.src | safe: 'resourceUrl'"
        role="img"
        [attr.aria-label]="logoConf.aria_label ? logoConf.aria_label : 'Company Logo'"
        [ngClass]="{'logo-horizontal': _conf.horizontal(),
                    'logo-vertical': _conf.vertical()}"
    ></object>

    <div 
        *ngIf="_conf.horizontal()" 
        class="spacer" 
        aria-hidden="true"
    ></div>
    <mat-divider 
        *ngIf="_conf.vertical()" 
        style="padding-bottom: 5%;"
    ></mat-divider>
    <div 
        *ngFor="let nav of navConf"
        class="nav-link"
        [ngClass]=" {'v-align-flex': _conf.horizontal(),
                     'h-align-flex': _conf.vertical(),
                     'vert-nav-link': _conf.vertical()}"
    >
        <a
            [id]="nav.nav_id"
            class="mat-h2"
            [routerLink]="nav.path"
            *ngIf="!nav.children"
        >
            {{nav.nav_title}}
        </a>
    </div>

</div>